.add-review-form input {
  line-height: 50px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #84947e;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.add-review-form textarea {
  width: 100%;
  border: 1px solid #84947e;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.rating-field {
  line-height: 50px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #84947e;
  padding: 15px;
  outline: none;
}

.review-btn {
  background-color: #84947e;
  color: white;
  font-weight: 700;
}
